
// @import "blocks/headings.scss";

// //import all from blocks folder
// @import "blocks/*.scss";

@import "blocks/null.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";

.hide{
    display: none;
    opacity: 0;
}

body{
    font-family: $font-main;
}
.wrapper{
    width: 100%;
}
#main{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
@import "blocks/header.scss";

.banner{
    @include size(500px, 100%);
    
    background: url(/img/banner.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    &__heading{
        font-size: 45px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__inputs{
        @include element-flex(row, center, center);
    }
}

.user{
    &-input{
        @include size(40px, 300px);
        
        background: white;
        font-size: 14px;
        padding: 10px;
        display: inline-block;

        &::placeholder{
            text-transform: uppercase;
            font-family: $font-main;
            font-size: 14px;
            color: #464545;
        }
    }
    &-submit{
        display: inline-block;
        color: white;
        text-transform: uppercase;

        @include element-flex(row, center, center);

        @include size(40px, 180px);
        
        font-size: 14px;
        background: #ED1D24;
        padding: 10px;
    }
}


.content-section{
    padding: 30px 0;

    &__heading{
        text-transform: uppercase;
        color: $header-bg;
        text-align: center;
        font-size: 25px;
    }

    &__content{
        margin: 0 auto;
        max-width: 1200px;
        padding: 15px;

        @include element-grid(repeat(5, 1fr), 1fr, 20px, 20px);
    
    }

    &__button{
        @include size(50px, 200px);
        background: $red-color;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        display: block;

        @include element-flex(row, center, center);

        margin: 10px auto;
    }

    &__search-character{
        width: fit-content;
        margin: 10px auto;
        @include element-flex(row, center, flex-start);
    }
}

.hero {
    &__block{
        background-color: $header-bg;
        min-width: 218px;
        height: 350px;
        position: relative;

        cursor: pointer;
        overflow: hidden;
        

        &:after{
            content: '';
            @include size(10px, 100%);
            background: $red-color;

            position: absolute;
            bottom: 0;
            z-index: 0;

            transition: .3s;
        }

        &:hover:after{
            height: 90px;
        }
        &:hover img {
            transition: .3s;
            transform: scale(1.2);
        }
    }

    &-image {
        @include size(260px, 100%);
        margin-bottom: 20px;
        & img{
            @include image;
            transition: .3s;
        }
    }

    &__desc{
        position: absolute;
        z-index: 3;

        text-transform: uppercase;
        color: white;
        font-size: 18px;
        font-family: $second-font;
        font-weight: 500;

        margin-left: 10px;
    }
}

.search{
    // border: 1px solid black;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    &-button{
        width: 50px;
        height: 40px;
        // border: 1px solid black;
        @include element-flex(row, center, center);
        background: $red-color;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

        & img{
            height: 25px;
            width: 25px;
        }
    }
}

@media screen and (max-width: 1200px){
    .content-section__content{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 990px){
    .content-section__content{
        grid-template-columns: repeat(3, 1fr);
    }
    .banner {
        &__heading{
            font-size: 35px;
        }
    }
    .user{
        &-input{
            width: 250px;
        }
        &-submit{
            width: 150px;
        }
    }
}

@media screen and (max-width: 768px){
    .header{
        height: 70px;
    }
    .logo{
        display: none;
    }
    .nav{
        &__list{
            // position: absolute;
            position: fixed;
            @include element-flex(column, center, center);
            height: 100vh;
            width: 100%;
            z-index: 100;
            background-color:  rgba(43, 43, 44, 0.5);
            backdrop-filter: blur(96px);
            top: 0px;
            right: -100%;

            transition: .3s;
            
            & li:not(:last-child){
                margin-right: 0px;
            }
        }
        &__burger{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            z-index: 200;
            display: block;
            // transition: .3s
        }
        &__link{
            text-align: center;
            font-size: 20px;
            line-height: 200%;
        }
    }
}

@media screen and (max-width: 750px){
    .content-section__content{
        grid-template-columns: repeat(2, 1fr);
    }
}